<?xml version="1.0"?>
<launch>

    <!-- LOAD D4ZBOT DESCRIPTION -->
    <include file="$(find d4zbot_description)/launch/description.launch"/>

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find d4zbot_rviz)/rviz/model.rviz" output="screen"/>
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />

    <!-- Load controller configuration -->
    <rosparam command="load" file="$(find d4zbot_control)/config/control.yaml"/>

    <!-- Spawn controllers -->
    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen"
        args="d4zbot_joint_publisher d4zbot_velocity_controller"/>

    <!-- convert joint states to TF transforms for rviz, etc -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

    <node pkg="interactive_marker_twist_server" type="marker_server" name="twist_marker_server" output="screen">
        <param name="link_name" value="base_link" />
    </node>

    <!-- Start EKF for localization -->
    <node name="ekf_localization" pkg="robot_localization" type="ekf_localization_node" >
        <rosparam command="load" file="$(find d4zbot_control)/config/localization.yaml" />
    </node>
    
    <node name="rqt_robot_steering" pkg="rqt_robot_steering" type="rqt_robot_steering">
        <param name="default_topic" value="d4zbot_velocity_controller/cmd_vel"/> 
    </node>

    <node pkg="twist_mux" type="twist_mux" name="twist_mux">
        <rosparam command="load" file="$(find d4zbot_control)/config/twist_mux.yaml" />
        <remap from="cmd_vel_out" to="d4zbot_velocity_controller/cmd_vel"/>
    </node>

    <!-- Override the default control parameters, see config/empty.yaml for default. -->
    <rosparam command="load" file="$(find d4zbot_control)/config/empty.yaml"/>

</launch>
